body {
  font-family: calibri;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.head-title {
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  margin: 20px 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-container > input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.list {
  display: grid;
  grid-template-columns: auto auto;
}

.box {
  border: 1px solid #696969;
  margin: 10px;
  padding: 10px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #778899;
}

.box > .title {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #696969;
}

.content { 
  display: flex;
  justify-content: space-between;
}

.content > .cover {
  flex: 25% 0 0;
}

.content > .cover > img {
  width: 100%;
}

.statusText{
  border: 1px solid red;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background: rgba(255, 0, 0 , 0.4);
  color: crimson;
  font-weight: 600;
  margin: 20px 0;
}

.content > .description {
  flex: 70% 0 0;
}

.book-bookmarked {
  background: crimson;
  color: white;
  border: 1px solid crimson;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-bookmark {
  background-color: yellow;
  color: black;
  font-weight: bold;
  border: 1px solid orange;
  padding: 5px 10px;
  border-radius: 3px;
}

.author {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;  
}

@media only screen and (max-width: 431px) {
  .container {
    width: 100%;
  }
  .search-container {
    padding: 15px;
  }
  .list {
    grid-template-columns: auto;
  }
  .box {
    height: 300px;
  }
  
}

@media only screen and (max-width: 480px) and (min-width: 432px) {
  .container {
    width: 100%;
  }
  .search-container {
    padding: 15px;
  }
  .list {
    grid-template-columns: auto;
  }
  .box {
    height: 300px;
  }
}

@media only screen and (max-width: 720px) and (min-width: 481px) {
  .search-container {
    padding: 15px;
  }
  .list {
    grid-template-columns: auto;
  }
  .box {
    height: 275px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 721px) {
  .search-container {
    padding: 15px;
  }
  .list {
    grid-template-columns: auto auto;
  }
  .box {
    height: 300px;
  }
}
